/* navbar CSS */
@media (min-width: 1200px) {
    .navbar-collapse > .container-fluid {
        margin-top: 45px;
    }
}

.navbar-brand {
    margin-left: 40px;
}

    .navbar-brand > img {
        height: 85px;
        width: 251px;
    }


/* 페이지 상단 TopLine */
.top-line {
    height: 12px;
    background-color: #5B5B5B;
    margin-bottom: 15px;
}


/* main contents div */
.main-contents > div {
    padding-top: 50px;
    padding-right: 30px;
}

.content-div {
    margin-left: 30px;
    margin-bottom: 15px;
}

.content-sub {
    margin-right: 40px;
}

.content-link {
    font-weight: 700;
    color: #3C3C3C;
}

a.content-link:hover > h5{
    color: #3C3C3C;
    text-decoration: underline;
}


/* hr CSS */
.hr-gray {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #707070;
    margin: 1em 0;
    padding: 0;
}

.hr-black {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3C3C3C;
    margin: 1em 0;
    padding: 0;
}

.hr-red {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #EB5849;
    margin: 1em 0;
    padding: 0;
}


/* 청원 Border */
.petition-border {
    border: 1px solid #868585;
    padding: 50px;
}

.petition-border-title {
    color: #3C3C3C;
}

.petition-border-content {
    margin-left: 30px;
    color: #707070; 
}


/* color CSS */
.color-gray {
    color: #868585 !important;
}

.color-black {
    color: #3C3C3C !important;
}

.color-red {
    color: #EB5849 !important;
}

.color-gold {
    color: #F3B120 !important;
}


/* button CSS */
/* 각진 버튼 */
.btn.btn-square {
    border-radius: 0;
}

@media (max-width: 1319.98px) {
    .btn-long {
        width: 100%;
    }
}

@media (min-width: 1320px) {
    .btn-long {
        padding-left: 120px;
        padding-right: 120px;
    }
}


/* 화면이 작아지면 ~ date 아래로 내림 */
@media (min-width: 1200px) {
    .right-date {
        float: left;
    }
}
