/* navbar CSS */
@media (min-width: 1200px) {
    .navbar-collapse > .container-fluid {
        margin-top: 45px;
    }
}

.navbar-brand {
    margin-left: 70px;
}

    .navbar-brand > img {
        height: 85px;
        width: 251px;
    }

/* 페이지 상단 TopLine */
.top-line {
    height: 12px;
    background-color: #707070;
    margin-bottom: 15px;
}

